#!/bin/bash

# Email configuration
echo "your_smtp_host" > ./secrets/email_host
echo "your_smtp_port" > ./secrets/email_port
echo "your_email_user" > ./secrets/email_user
echo "your_email_password" > ./secrets/email_password
echo "your_email_from_address" > ./secrets/email_from

echo "Local secrets set successfully."